@import "tailwindcss";

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: auto !important;
}

.slick-slide > div {
  height: 100% !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
ul li {
  list-style-type: none;
  display: inline;
  margin-right: 15px;
}
