/* tailwindcss Config */
@import "tailwindcss";
@plugin "daisyui";
/* Global CSS */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

/* List styling */
ul li {
  list-style-type: none;
  display: inline;
  margin-right: 15px;
}
::-webkit-scrollbar {
  width: 0.66rem;
}

::-webkit-scrollbar-track {
  border: 7px solid #292c3b;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: #d4d4d8;
}

::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* for Firefox */
html {
  scrollbar-color: #0d0b8b #3d4a59;
}

/*React Slicke -> Customize dots */
.slick-dots {
  position: absolute !important;
  bottom: 25px !important;
  display: flex !important;
  justify-content: center !important;
  padding: 0 !important;
  margin: 0 !important;
  list-style: none !important;
}

.slick-dots li {
  margin: 0 2rem !important;
}

.slick-dots li button {
  width: 25px !important;
  height: 25px !important;
  padding: 0 !important;
  border-radius: 50% !important;
  background-color: rgba(255, 255, 255, 1) !important;
  border: none !important;
  font-size: 0 !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
}

.slick-dots li.slick-active button {
  background-color: #1186d4 !important;
}

.slick-dots li button:hover {
  background-color: rgba(194, 207, 3, 0.5) !important;
}
